//- app/views/index.pug
//- отображение главной страницы '/' со всеми заметками

extends layouts/common.pug

block addLinks

block content

    div(class="buttons row mx-0 py-3 px-2 px-lg-5 justify-content-around")
        button(
            class="btn btn-lg btn-outline-primary col-5 col-lg-4 col-xl-3 py-4 text-wrap"
            id="note-button"
            style = {'white-space': 'normal'}
            onclick="window.location.href='/notes'"
            ) Create new note
        button(
            class="btn btn-lg btn-outline-warning col-5 col-lg-4 col-xl-3 py-4 text-wrap"
            id="list-button"
            style = {'white-space': 'normal'}
            onclick="window.location.href='/lists'"
            ) Create new list

    div(class="content-box row mx-0 justify-content-center mb-5 px-3 px-md-1 px-lg-0")

        ul(class="list-group border col-12 col-md-11 col-lg-10 bg-white py-3 px-1")
            div(class="row mx-0 justify-content-around ")
                each item in items
                    if !item.title
                        - item.title = ''
                    else
                        - item.title = item.title+'. '
                    if item.description
                        a(
                            class="list-group-item badge-light col-12 col-md-5 col-lg-3 col-xl-2 m-md-1  text-uppercase"
                            href="/notes/"+item._id
                            )= item.title
                            span(
                                class="text-capitalize"
                                )=item.description.slice(0, 20)+'... '
                                i(class="fas fa-angle-double-right text-primary")
                    if item.tasks
                        a(
                            class="list-group-item badge-light col-12 col-md-5 col-lg-3 col-xl-2 m-md-1  text-uppercase"
                            href="/lists/"+item._id
                            )= item.title
                            if !item.tasks[0].isdone
                                i(class="far fa-square")
                                span(
                                    class="text-capitalize"
                                    )=' '+item.tasks[0].description.slice(0, 20)+'... '
                            else
                                i(class="far fa-check-square")
                                del(
                                    class="text-capitalize text-secondary"
                                    )=' '+item.tasks[0].description+'... '
                            i(class="fas fa-angle-double-right text-warning")

block addScripts
    //- script(
    //-     src="/js/main/script.js"
    //-     type='text/javascript'
    //-     )

